# Python virtual environment
final year project/myenv/

# Dataset
final year project/ISL_CSLRT_Corpus/

# Python cache
__pycache__/
*.pyc

# Android Studio
.gradle/
.idea/
build/
local.properties
*.iml

# VS Code
.vscode/

FeelSpeak/app/google-services.json