<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.feelspeak">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.FeelSpeak.NoActionBar">
        <activity
            android:name=".UserTypeSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".PermissionActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".NormalUploadVideoActivity"
            android:exported="false" />
        <activity
            android:name=".NormalRecordVideoActivity"
            android:exported="false" />
        <activity
            android:name=".NormalRecordAudioActivity"
            android:exported="false" />
        <activity
            android:name=".NormalHomeActivity"
            android:exported="false" />
        <activity
            android:name=".NavigationUtils"
            android:exported="false" />
        <activity
            android:name=".MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".HelpActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".DeafHomeActivity"
            android:exported="false" />
        <activity
            android:name=".BlindHomeActivity"
            android:exported="false" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".VideoPreviewActivity"
            android:exported="false" />
    </application>

</manifest>